html{
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
	min-height: 100%;
	width: 100%;
}

/* Main */
	#hack{
		position: relative;
		min-height: auto;
		width: 100%;
		/*background: url('../img/main.jpg') center center no-repeat;
		background-size: cover;*/
	}
	#register{
		position: fixed;
		top: 60px;
		right: 25px;
		width: 15%;
		z-index: 1000;
	}
	#scene {
	    display: block;
	    list-style-type: disc;
	    -webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 0px;
	    overflow: hidden;
	    width: 100%;
	}
	.layer {
	    width: 100%;
	}
	.layer img{
	    width: 100%;
	}

/* Video */
	#video{
		position: relative;
		min-height: auto;
		width: 100%;
		background-color: rgb(255,255,255);
	}

/* About */
	#about{
		position: relative;
		min-height: 65%;
		width: 100%;
		background-color: rgb(255,255,255);
	}
	#about-dots{
		position: absolute;
		top: 0;
		left: 0;
		height: auto;
		width: 100%;
	}
	#about-title{
		position: absolute;
		top: 5%;
		left: 25%;
		height: auto;
		width: 50%;
	}
	#about-info{
		position: absolute;
		top: 30%;
		text-align: center;
	}
	#about-info div{
		padding: 3%;
	}
	#about-info h1{
		font-size: 25px;
		font-family: Geomanist-Medium;
	}
	#about-info p{
		font-size: 16px;
		line-height: 2;
	}
	
/* Schedule */
	#schedule{
		position: relative;
		min-height: 100%;
		width: 100%;
		text-align: center;
	}
	#schedule h1{
		color: #000;
		font-size: 100px;
		font-family: Brush-Italic;
	}
	#schedule hr{
		border: 1px solid #F47920;
	}
	#schedule-title{
		width: 35%;
	}

/* Sponsors */
	#sponsors{
		position: relative;
		height: auto;
		width: 100%;
		padding-top: 70px;
		background-color: rgb(255,255,255);
	}
	#sponsors .row img{
		margin-left: 15%;
		width: 80%;
	}
	#sponsors-chmday{
		position: relative;
		width: 20%;
		left: 40%;
	}
	#sponsors-logos{
		position: relative;
		padding: 5% 10% 0 4%;
	}
	#sponsors-logos img{
		width: 80%;
		margin-bottom: 10%;	
		z-index: 10;
	}
	#sponsors-dots{
		position: absolute;
		width: 100%;
		bottom: -10%;
	}

/* Inters */
	#inter-1{
		/*position: relative;
		min-height: 60%;
		width: 100%;
		background: url('../img/inter-1.jpg') center center no-repeat;
		background-size: cover;
		background-attachment: fixed;*/
	}
	#inter-2{
		/*position: relative;
		min-height: 60%;
		width: 100%;
		background: url('../img/inter-2.jpg') center center no-repeat;
		background-size: cover;
		background-attachment: fixed;*/
	}

@media (max-width: 1024px) and (orientation: portrait){
	#about-info{
		top: 15%;
	}
	#about-info div {
	    padding: 1%;
	}
	#sponsors {
	    height: 85%;
	}
}

@media (max-width: 767px) and (orientation: portrait){
	
}



